NEXT_PUBLIC_SUPABASE_URL=https://ochyvcxwtpclkpdacpae.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jaHl2Y3h3dHBjbGtwZGFjcGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NDIyNzYsImV4cCI6MjA5MzExODI3Nn0.HZL5oc4nY0SB0weLwRXzvJVxVV8MiL668IoZ7BnC_kY
SUPABASE_SERVICE_ROLE_KEY=
VALUATION_SERVICE_KEY=
